.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache
*_files
*.pdf
.texpadtmp
*.html
data
elephants.pdf
data
.Renviron
.ipynb_checkpoints
74id-aqj9.csv
__MACOSX
sec_logs.duckdb
.cache.sqlite
.virtual_documents
sgi_monitoring.parquet
