project:
  type: website
  render:
    - index.qmd
    - shared_code.qmd
    - dsf_polars.qmd
    - curate_call_reports.qmd
    - sas_to_pd.qmd

website:
  title: "notes"
  navbar:
    right:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true

execute:
  freeze: auto
