project:
  type: website
  render:
    - index.qmd
    - published/*.qmd

website:
  title: "notes"
  navbar:
    right:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true
